# Gradle y Kotlin
.gradle
.kotlin
**/build/

# Android Studio / IntelliJ
*.iml
.idea
captures
.externalNativeBuild
.cxx

# Rutas de esta maquina
local.properties

# Swift / Xcode
.build
.swiftpm
xcuserdata
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/

.DS_Store
torneo.json
DerivedData/
*.xcuserstate
